.itemblock {
  margin-top: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: #f5ac8f;
  min-width: 60rem;
  border-radius: 2rem;
}

.itemblock h1 {
  color: blanchedalmond;
}

@media only screen and (max-width: 1400px) {
  .itemblock {
    min-width: 40rem;
  }
}

@media only screen and (max-width: 1270px) {
  .itemblock {
    min-width: 30rem;
  }
}

@media only screen and (max-width: 890px) {
  .itemblock {
    min-width: 25rem;
  }
}

@media only screen and (max-width: 670px) {
  .itemblock {
    min-width: 23rem;
  }
}

@media only screen and (max-width: 550px) {
  .itemblock {
    min-width: 20rem;
  }
}

@media only screen and (max-width: 450px) {
  .itemblock {
    min-width: 18rem;
  }
}

@media only screen and (max-width: 400px) {
  .itemblock {
    min-width: 15rem;
  }
}
