/* .layoutblock {
  margin-top: -22px;
  background-color: beige;
} */

/* .layBlock {
  background-color: #f5ac8f;
  min-height: 90rem;
  background-size: 75% 50%;
  width: 100rem;
  height: 100rem;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
} */

.layBlock {
  /* background-image: url('../../resourses/pexels-gdtography-950241.jpg'); */
  background-image: url('../../resourses/360_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg');
  background-color: rgb(22, 22, 22);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 100vw;
  min-height: 100vh;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: -22px;
}
